body {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

h1 {
    margin-top: 200px;
}

input {
      appearance: none;
      -webkit-appearance: none;
      border: 0;
      margin-top: 40px;
      font-size: 0.9rem;
      background: #ad1616;
      padding: 1rem;
      color: white;
      cursor: pointer;
}